.par {
    background-color: rgb(176, 236, 176);
}

table, tr, td {
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

.titulos {
    background-color: rgb(179, 177, 177);
}

.cabecera {
    background-color: yellow;
}